---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
  <Navigation />
  <main id="main-content">
    <Hero />
  </main>
</Layout>
