---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import WorksSection from '../components/WorksSection.astro';
import NewsSection from '../components/NewsSection.astro';
import DummySection from '../components/DummySection.astro';
---

<Layout>
  <Navigation />
  <main id="main-content">
    <Hero />
    <WorksSection />
    <NewsSection />
    <DummySection id="contact" title="Contact" />
  </main>
</Layout>
